.footer-container {
  width: 100%;
  height: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media only screen and (max-width: 768px) {
  .footer-container {
    font-weight: 400;
  }
}

@media only screen and (max-width: 600px) {
  .footer-container {
    font-weight: 200;
  }
}
